<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.wiring.serviceProvider">
      <bundle
            symbolicName="ru.xelgo.edt.contextlinks.ui">
      </bundle>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ru.xelgo.edt.contextlinks.ui.category"
            name="%command.category.name">
      </category>
      <command
            categoryId="ru.xelgo.edt.contextlinks.ui.category"
            defaultHandler="ru.xelgo.edt.contextlinks.ui.ConfigureContextLinksHandler"
            id="ru.xelgo.edt.contextlinks.ui.commands.configureContextLinks"
            name="%command.name">
      </command>
      <command
            categoryId="ru.xelgo.edt.contextlinks.ui.category"
            id="ru.xelgo.edt.contextlinks.ui.commands.configureApplicationUpdateProjects"
            name="%applicationUpdate.command.name">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup?endof=group.open">
         <command
               commandId="ru.xelgo.edt.contextlinks.ui.commands.configureContextLinks"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="ru.xelgo.edt.contextlinks.ui.isContextConfigurableProject">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.e1c.g5.dt.applications.ui.view?after=additions">
         <separator
               name="ru.xelgo.edt.contextlinks.ui.applicationUpdate.separator"
               visible="true">
         </separator>
         <command
               commandId="ru.xelgo.edt.contextlinks.ui.commands.configureApplicationUpdateProjects"
               label="%applicationUpdate.command.name"
               style="push"
               tooltip="%applicationUpdate.command.tooltip">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.xelgo.edt.contextlinks.ui.ConfigureApplicationUpdateProjectsHandler"
            commandId="ru.xelgo.edt.contextlinks.ui.commands.configureApplicationUpdateProjects">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.e1c.g5.dt.applications.IApplication">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ru.xelgo.edt.contextlinks.ui.ContextLinksProjectPropertyTester"
            id="ru.xelgo.edt.contextlinks.ui.projectPropertyTester"
            namespace="ru.xelgo.edt.contextlinks.ui"
            properties="isExtensionProject,isContextConfigurableProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ru.xelgo.edt.contextlinks.ui.ContextLinksStartup">
      </startup>
   </extension>

   <extension
         point="com._1c.g5.v8.dt.bsl.bslRuntimeModuleExtension">
      <bslRuntimeModuleExtension
            module="ru.xelgo.edt.contextlinks.core.ContextLinksBslRuntimeModule">
      </bslRuntimeModuleExtension>
   </extension>

</plugin>
